@font-face {
    font-family: 'SF Pro Display';
    src: url('../fonts/sf-pro-display/SFPRODISPLAYMEDIUM.OTF') ;
  }

  @font-face {
    font-family: 'poppins';
    src: url('../fonts/poppins/Poppins-Light.ttf') ;
  }
  
 

  